DEBUG=True
SECRET_KEY=123456
ALLOWED_HOSTS=127.0.0.1,localhost

# DB (пример для sqlite)
DB_ENGINE=django.db.backends.sqlite3
DB_NAME=db.sqlite3
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

# Email SMTP (реальная отправка)
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_USE_SSL=False
EMAIL_HOST_USER=valdegord2000@gmail.com
EMAIL_HOST_PASSWORD=vmow ogri ojyr phzg
DEFAULT_FROM_EMAIL=Ski Rent <Valdegord2000@gmail.com>
